<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="portNumber" value="0" type="int" />
  <node pkg="uart" type="uart_node” name="uart_node" output="screen"/>
  <node pkg="robot_pack_info” type="robot_pack_info_node” name="pack_info" />
  <node pkg="robot_unpack_info" type="robot_unpack_info_node” name="unpack_info" />
  <node pkg="rm_control_demo" type="rm_control_demo_node” name="rm_control_demo" output="screen" />
</launch>

